<div>
    <button id="button-confirm" class="btn btn-primary btn-block">{{ button_confirm }}</button>
</div>
<script type="text/javascript">
    $('#button-confirm').on('click', function() {
        $.ajax({
            url: 'index.php?route=extension/payment/custompayment/confirm',
            method: 'post',
            success: function() {
                window.location.href = 'index.php?route=checkout/success';
            }
        });
    });
</script>
